.container{
  margin-top: 10px;
padding: 10px;
  text-align: center;
  font-size: 20px;
}
table{
  font-size: 20px;
}
.div1
{
  margin:20px 0px 20px 0px;
  padding:10px;
}
.div2{
  float:left;
}
.div3{
  float:right;
}
img{
  border-radius: 30px;
  box-shadow: 5px 5px black;
  margin-bottom: 20px;
  padding: 10px;
}
.b{
  float:left;
  margin-right:20px;
}
.a{
  float:right;
  margin-right: 20px;
}
