body{

  text-align:center;
 background-image: linear-gradient(to bottom right,#33adff,#7300e6);
  font-style: italic;
font-size: 30px;
line-height: 40px;
color:white;
}
div{
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
width:800px;
margin: auto;
text-align: left;
padding: 20px;
color: white;
}
h2
{
  color:white;}

.textarea{
  width:90%;
}
p{
  font-weight: bold;
  font-size: 30px;
}
.a{
  font-size: 80px;
}
.text{
  height:40px;
  width:90%;
  border-radius: 15px;
  padding: 13px;
  font-size: 20px;
  font-weight: 200px;
}
.radio{

}
.button{
  height:70px;
  width:100%;
  border-radius: 15px;
  padding: 13px;
  margin-top:10px;
  font-size: 30px;
  font-weight: bold;
  background-color: green;
 color: white;
}
